<div class="duplicatable_nested_form">
  <%= f.hidden_field :event_id, value: @event.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :seat_id %>
  <%= f.hidden_field :seat_col %>
  <%= f.hidden_field :seat_row %>
</div>