<script>

    var firstSeatLabel = 1;

$(document).ready(function() {

    var $cart = $('#selected-seats'),
    $input = $('#reservation_seat_id'),
    $inputrow = $('#reservation_seat_row'),
    $inputcol = $('#reservation_seat_col'),
    $counter = $('#counter'),
    $total = $('#total'),
    sc = $('#seat-map').seatCharts({
	map: [
	    'fffff',
	    'fffff',
	],
	seats: {
	    f: {
		price   : 100,
		classes : 'first-class', //your custom CSS class
		category: 'First Class'
	    },
	    
	},
	naming : {
	    top : false,
	    getLabel : function (character, row, column) {
		return firstSeatLabel++;
	    },
	},
	focus  : function() {

	    if (this.status() == 'available') {
		//if seat's available, it can be focused
		$("#"+this.settings.label+"")[0].click();
		return 'focused';
		
	    } else  {
		//otherwise nothing changes
		return this.style();
	    }
	},
	click: function () {
	    if (this.status() == 'available') {
		//let's create a new <li> which we'll add to the cart items
		$('<li>'+this.settings.label+'</b> </li>')
		    .attr('id', 'cart-item-'+this.settings.id)
		    .data('seatId', this.settings.id)
		    .appendTo($cart);

		$input.val( this.settings.label);
		$inputrow.val( this.settings.row + 1);
		$inputcol.val( this.settings.column + 1);

		$(".add_fields")[0].click();
		
		/*
		 * Lets update the counter and total
		 *
		 * .find function will not find the current seat, because it will change its stauts only after return
		 * 'selected'. This is why we have to add 1 to the length and the current seat price to the total.
		 */
		$counter.text(sc.find('selected').length+1);
		$total.text(recalculateTotal(sc)+this.data().price);
		
		return 'selected';
	    } else if (this.status() == 'selected') {
		//update the counter
		$counter.text(sc.find('selected').length-1);
		//and total
		$total.text(recalculateTotal(sc)-this.data().price);
		
		//remove the item from our cart
		$('#cart-item-'+this.settings.id).remove();

		//remove from input boxes
		$input.val('');
		$inputrow.val('');
		$inputcol.val('');		

		//activate cocoon
		$('#remove'+this.settings.label)[0].click();


		//seat has been vacated
		return 'available';
	    } else if (this.status() == 'unavailable') {
		//seat has been already booked
		return 'unavailable';
	    } else {
		return this.style();
	    }
	}
    });


  $("#items").bind("cocoon:after-insert", function(e, added_item) {
    added_item.find(".seat-input").val($("#reservation_seat_id").val());
    added_item.find(".remove_fields").attr('id', 'remove'+$("#reservation_seat_id").val());
  });

  $("#items").bind("cocoon:after-insert", function(e, added_item) {
    added_item.find(".row-input").val($("#reservation_seat_row").val());
  });

  $("#items").bind("cocoon:after-insert", function(e, added_item) {
    added_item.find(".col-input").val($("#reservation_seat_col").val());
  });

  $("button").click(function(){
      var imgUrl = $(this).attr('rel');
      $("#area").html("<img src='" + imgUrl + "' alt='description' />");
  });

    //this will handle "[cancel]" link clicks
    $('#selected-seats').on('click', '.cancel-cart-item', function () {
	//let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
	sc.get($(this).parents('li:first').data('seatId')).click();
    });
    

    //let's pretend some seats have already been booked

    <% @allres.each do |r| %>
	sc.get(['<%= "#{r.seat_row}_#{r.seat_col}" %>']).status('unavailable');
    <% end %>
    });

function recalculateTotal(sc) {
    var total = 0;
    
    //basically find every selected seat and sum its price
    sc.find('selected').each(function () {
	total += this.data().price;
    });
    
    return total;
}

</script>

<h2><%= @event.name %></h2>

<div class="wrapper">
  <div class="container">
      <div class="nine columns">
	<div class="container">
	  <div class="row">
	    <div class="five columns alpha">
	      <div id="seat-map">
		<div class="front-indicator"></div>
	      </div>
	      
	      <div class="booking-details">
		<h4> Select multiple seats (<span id="counter">0</span>)!</h4>
		Total: <b>$<span id="total">0</span></b>
		</br>
		Seats: <ul id="selected-seats"></ul>

		<div class="container">
		  <div id="items">
		    <%= render "form" %>
		  </div>
		</div>
		<%= hidden_field_tag "reservation_seat_id" %>
		<%= hidden_field_tag "reservation_seat_row" %>
		<%= hidden_field_tag "reservation_seat_col" %>
	      </div>
	    </div>
	    <div class="four columns omega">
	      <div id="area"></div>
	    </div>
	  </div>
	</div>
      </div>
  </div>


  <button id="1" rel="/assets/food/1.png" style="display: none;">Click!</button>
  <button id="2" rel="/assets/food/2.png" style="display: none;">Click!</button>
  <button id="3" rel="/assets/food/3.png" style="display: none;">Click!</button>
  <button id="4" rel="/assets/food/4.png" style="display: none;">Click!</button>
  <button id="5" rel="/assets/food/5.png" style="display: none;">Click!</button>
  <button id="6" rel="/assets/food/6.png" style="display: none;">Click!</button>
  <button id="7" rel="/assets/food/7.png" style="display: none;">Click!</button>
  <button id="8" rel="/assets/food/8.png" style="display: none;">Click!</button>
  <button id="9" rel="/assets/food/9.png" style="display: none;">Click!</button>
  <button id="10" rel="/assets/food/10.png" style="display: none;">Click!</button>

  
</div>
